body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('https://thumbs.dreamstime.com/b/fruits-icons-image-vector-illustration-31980000.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    color: #333;
}

h1 {
    margin: 20px 0;
    font-size: 2em;
}

.controls {
    margin-bottom: 20px;
}

.controls button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 1em;
    cursor: pointer;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-gap: 15px;
    justify-content: center;
}

.card {
    width: 150px;
    height: 150px;
    background-color: #f8f8f8;
    border: 2px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card.flip {
    transform: rotateY(180deg);
}

.card .front,
.card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border-radius: 10px;
}

.card .back {
    background-color: #4CAF50;
    color: white;
}

.card .front {
    background-color: #f8f8f8;
    transform: rotateY(180deg);
}
